@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    background-color: aliceblue;
}

#root {
    height: 100vh;
}

button::before {
    content: ' ';
    position: absolute;
    inset: 3px;
    z-index: 1;
    border: 2px white solid;
    border-radius: 100%;
}
